In [1]:
#Imorting dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect
from postgres_settings import postgresql as settings

In [2]:
#Reading the Foreign Direct Investment Dataset
mines= "Resources/clean_mines.csv"
mines_df = pd.read_csv( mines)
mines_df.head()

,site_code,short_title,stage,longitude,latitude,target_group_name
0,S0001726,Boddington Bauxite,Operating,116.455902,-32.931561,BAUXITE - ALUMINA
1,S0001739,Willowdale,Operating,116.014801,-32.920719,BAUXITE - ALUMINA
2,S0003638,Marradong,Operating,116.434898,-32.836769,BAUXITE - ALUMINA
3,S0003656,O'Neil,Operating,116.201500,-32.515442,BAUXITE - ALUMINA
4,S0005694,Myara S,Operating,116.059470,-32.498088,BAUXITE - ALUMINA

In [3]:
protocol = 'postgresql'
username = settings['user']
password = settings['passwrd']
host = settings['host']
port = settings['port']
database_name = settings['db']
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
insp = inspect(engine)

In [4]:
insp.get_table_names()

['mines_db', 'clean_mines_db']